ol {
    padding-left: 2rem;
}

ul {
    padding-left: 2rem;
}
.breadcrumb{
    font-size: x-large;
}
.title{
    display: inline-flex;
}
body{
    min-height: 100vh;
}
.main-section{
    min-height: 100vh; 
    background-color: lightgray;
}